<%= form_for(@park, html: {class:"form-group"}) do |f| %>

<% if @park.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@park.errors.count, "error") %> prohibited this movie from being saved:</h2>

  <ul>
    <% @park.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<fieldset>
<div class= "well">
  <ul>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
</div>
  <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
</div>
  <div class="field">
      <%= f.label :state  %>
      <%= f.select :state, Park::STATES.to_a.map { |r| [r, r] }, include_blank: true  %>
</div>
  <div class="field">
      <%= f.label :region %>
      <%= f.text_field :region %>
</div>
  <div class="field">
      <%= f.label :dogs %>
      <%= f.check_box :dogs %>
</div>
  </ul>
  <p>
     <!-- Create a Submit Button -->
    <%= f.submit %>
  <br/>

  </div>
</fieldset>
<% end %>
