<p id="notice"><%= notice %></p>

<h1>Listing Parks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parks.each do |park| %>
      <li><%= park.name %>
        | <%= link_to 'Show', park %>
        | <%= link_to 'Edit', edit_park_path(park) %>
        | <%= link_to 'Destroy', park, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Park', new_park_path %>
