<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View Parks', parks_path %></li>
  <li><%= link_to 'New Park', new_park_path %></li>
  <% if current_user %><li><%= link_to 'Your Account', edit_user_registration_path %></li><% end %>
</ul>

<h2>Most Popular Parks</h2>

<table class ="table table-hover">
  <thead>
     <tr>
      <th>Park Name</th>
      <th>Number of Hikes</th>
      <th>Allows Dogs?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parks.each do |park| %>
    <tr>
      <td><%= park.name %></td>
      <td><%= park.trails.count %></td>
      <td><%= park.dogs %></td>
        <!-- Only show links if we have a current, logged in, user -->
      <% if current_user %>
      <td> <%= link_to"View Trails", park_trails_path(park.id), class: 'btn btn-primary btn-xs' %></td>
      <td> <%= link_to "Edit", edit_park_path(park.id), class: 'btn btn-primary btn-xs' %> </td>
      <td> <%= link_to 'Destroy', park_path(park.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

