<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View Parks', parks_path %></li>
  <li><%= link_to 'New Park', new_park_path %></li>
</ul>

<h1>Most Popular Parks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parks.each do |park| %>
      <li><%= park.name %>
        <!-- Only show links if we have a current, logged in, user -->
<% if current_user %>
    | <%= link_to"Show", park_path(park.id), class: 'btn btn-primary btn-xs' %>
    | <%= link_to "Edit", edit_park_path(park.id), class: 'btn btn-primary btn-xs' %>
    | <%= link_to 'Destroy', park_path(park.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
<% end %>
      </li>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Park', new_park_path %>
