<dl>
  <dt>Name:</dt>
  <dd><%= @park.name %></dd>
  <dt>City:</dt>
  <dd><%= @park.city %></dd>
  <dt>State:</dt>
  <dd><%= @park.state %></dd>
  <dt>Region:</dt>
  <dd><%= @park.region %></dd>
  <dt>Dogs Allowed?</dt>
  <dd><%= @park.dogs %></dd>
    <dt>Number of Hikes</dt>
  <dd><%= @park.hikes %></dd>
</dl>

<p>
  <%= @park.name %> has
  <%= link_to_unless(@park.reviews.empty?, "#{@park.reviews.size} reviews", park_reviews_path(@park.id)) do
      "no reviews"
   end
  %>
</p>
<p>
Create a <%= link_to 'Review', new_park_review_path(@park.id) %>
</p>
