<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Parks', parks_path %></li>
  <li><%= link_to 'New Park', new_park_path %></li>
  <li class="active"><%= link_to 'Show Park', park_path %></li>
</ul>

<dl>
  <dt>Name:</dt>
  <dd><%= @park.name %></dd>
  <dt>City:</dt>
  <dd><%= @park.city %></dd>
  <dt>State:</dt>
  <dd><%= @park.state %></dd>
  <dt>Region:</dt>
  <dd><%= @park.region %></dd>
  <dt>Dogs Allowed?</dt>
  <dd><%= @park.dogs %></dd>
    <dt>Number of Hikes</dt>
  <dd><%= @park.hikes %></dd>
</dl>

<p>
  <%= @park.name %> has
  <%= link_to_unless(@park.trails.empty?, "#{@park.trails.size} reviews", park_trail_path(@park.id)) do
      "no reviews"
   end
  %>
</p>
<p>
  <%= @park.name %> been reviewed by
  <% unless @park.users.empty? %>
    <%= @park.users.uniq.map(&:full_name).join(', ') %>
  <% else %>
    no users.
  <% end %>
</p>
<p>
Create a <%= link_to 'Review', new_park_review_path(@park.id) %>
</p>
