<p id="notice"><%= notice %></p>

<h1>Trails at <%= link_to(@park.name, @park) %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Length</th>
      <th>Diffculty</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td><%= trail.name %></td>
        <td><%= trail.length %></td>
        <td><%= trail.diffculty %></td>
        <td><%= trail.rating %></td>
        <td><%= link_to 'Show', park_trail_path(@park.id, trail.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trail', new_park_trail_path(@park.id) %>
