<p id="notice"><%= notice %></p>

<h1>Trails at <%= link_to(@park.name, @park) %></h1>

<table class ="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Length in Miles</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td><%= trail.name %></td>
        <td><%= trail.length %></td>
        <td><%= trail.difficulty %></td>
        <td><%= link_to 'View Reviews', trail_reviews_path(trail.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
