<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @trail.length %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @trail.difficulty %>
</p>

<p>
  <%= @trail.name %> has
  <%= link_to_unless(@trail.reviews.empty?, "#{@trail.reviews.size} reviews", trail_reviews_path(@trail.id)) do
      "no reviews"
   end
  %>

<p>
Create a <%= link_to 'Review', new_trail_review_path(@trail.id) %>
</p>

<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
