<!-- Helper to generate a HTML Form -->
<%= form_for([@trail, @review]) do |f| %>

<% if @review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

  <ul>
    <% @review.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
<div class= "well">
  <ul>
    <li>
      <!-- Helper to generate a text area for the review content -->
      <%= f.label :content %>
      <%= f.text_area :content %>
    </li>
        <li>
      <%= f.label :rating %>
      <%= f.number_field :rating %>
    </li>
  </ul>
  <p>
    <%= f.submit %><br/>
  </p>
  </div>
</fieldset>
<% end %>
