<header>
  <h1>Reviews for <%= link_to(@trail.name, @trail) %></h1>
</header>
<ul>
  <% @reviews.each do |review| %>
 <li> <%= truncate(review.content, length: 20) %>
    | <em>Reviewed by <%= link_to(review.user.full_name, users_path(review.user)) %></em>
    | <%= link_to("Show", trail_review_path(@trail.id, review.id)) %>

  </li>
  <% end %>
  <hr/><br/>
  <%= link_to "Create a New Review", new_trail_review_path(@trail.id) %>
</ul>
