<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Parks', parks_path %></li>
  <li><%= link_to 'New Park', new_park_path %></li>
  <% if current_user %><li><%= link_to 'Your Account', edit_user_registration_path %></li><% end %>
</ul>

<header>
  <h1>Reviews for <%= link_to(@trail.name, park_trails_path(@trail)) %></h1>
</header>
<ul>
  <% @reviews.each do |review| %>
 <li> <%= truncate(review.content, length: 20) %>
    | <em>Reviewed by <%= review.user.full_name %></em>
    | <%= link_to("Show", trail_review_path(@trail.id, review.id)) %>

  </li>

  <% end %>

  <hr/><br/>
  <%= link_to "Create a New Review", new_trail_review_path(@trail.id) %>
    </ul>
