
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Parks', parks_path %></li>
  <% if current_user %><li><%= link_to 'New Park', new_park_path %></li>
  <li class="active"><%= link_to(@trail.name, park_trails_path(@trail.park_id)) %></li><% end %>
</ul>
<p>
  <h2>Create a Review for the <%= link_to @trail.name, park_trails_path(@trail.park_id) %></h2>
</p>

<%= render partial: 'form' %>
